body{
  background-color: rgb(197, 187, 175);
}

h1{
  
  text-align: center;
}

form{
    text-align: center;
    margin-bottom: 30px;
}

.input{
  padding: 5px;
  font-size: 12px;
  width: 200px;
  border-radius: 5px;
 
}

.button{
  padding: 5px;
  font-size: 12px;
  width: 80px;
  border-radius: 5px;
  background-color: green;
  color: white;
  border: none;
}
.str-block{
   
   display: grid;
    grid-template-rows: repeat(1);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 30px;
    padding: 5px;
    margin: auto;
    margin-left:30px;
    margin-bottom: 3px;
   background-color: white;
    
}

.strEmpty{
  display: grid;
    grid-template-rows: repeat(1);
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}